img[src*="#walter-index"] {
    max-height: 400px;
    float: center;
    padding: 15px;
    border-radius: 100%;
    background-color: transparent;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

