<!DOCTYPE html>
<html>
<head>
<!-- Basics -->
<title>Walter Zielenski</title>
<meta name=viewport content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155539992-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155539992-1');
</script>

<!-- CSS || Chota CSS || https://jenil.github.io/chota/ -->
<script src="https://kit.fontawesome.com/54b4256db9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/kimeiga/bahunya/css/bahunya-0.1.3.css"/>

<!-- https://prismjs.com/ Code Text Formatting -->
<script src="/static/js/prism.js"></script>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Custom Files -->
<script src="/static/js/script.js"></script>
<link rel="stylesheet" href="/static/css/style.css">

<!-- HTML Meta Tags -->
<meta name="description" content="Backend Developer">
<meta name="keywords" content="Backend, Programming, Developer, Python, SQL, GCP, Google Cloud Platform, Baking, Super Cool Dude">
<meta name="author" content="Walter Zielenski">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Walter Zielenski">
<meta itemprop="description" content="Backend Developer">
<meta itemprop="image" content="/static/img/wjziv.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="Walter Zielenski">
<meta property="og:description" content="Backend Developer">
<meta property="og:image" content="/static/img/wjziv.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="/static/img/wjziv.png">
<meta name="twitter:title" content="Walter Zielenski">
<meta name="twitter:description" content="Backend Developer">
<meta name="twitter:image" content="/static/img/wjziv.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="/static/img/wjziv.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Walter Zielenski">
<link rel="apple-touch-icon-precomposed" href="/static/img/wjziv.png">
</head>
<body><header>
  <nav>
    <a href="/">
      <h1>
        <img src="/static/img/wjziv.png" style="display:inline-block;vertical-align:middle;max-height:32px;" class="logo"/>
        &nbsp; Walter Zielenski
      </h1>
    </a>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" style="font-size:larger;">&#9776;</label>
    
    <a href="/blog/">
      blog
    </a>
    
    <a href="/projects/">
      projects
    </a>
    
    <a href="/recipes/">
      recipes
    </a>
    
  </nav>
  <h1>
    Website Hosting on Github
  </h1>
  
  <h6>
    2020-01-02
  </h6>

  
  <p>
  
  <kbd>How-to</kbd>
  
  <kbd>Github</kbd>
  
  <kbd>Flask</kbd>
  
  <kbd>Beginner</kbd>
  
  
  </p>
  

</header>
  <main>
    <article>
    
<p>See the finished project on <a href="">Github</a>.</p>
<h4>Introduction</h4>
<p><a href="https://pages.github.com/">Github Pages</a> allows you to host your own static personal and project pages on their website for absolutely free, so long as you do the heavy-lifting and bake your pages all together. It isn't too difficult to get started, and there's already a well-known project called <a href="https://jekyllrb.com/docs/github-pages/">Jekyll</a> which allows you to do exactly that. Github even features clear <a href="https://help.github.com/en/github/working-with-github-pages/setting-up-a-github-pages-site-with-jekyll">instructions</a> on how to get your own page up and running within their help docs.</p>
<p>While Jekyll was nice and convenient, I'm primarily a Python developer, and I'd prefer to approach the problem with tools I was more comfortable with and expand my understanding of them with a new challenge.</p>
<h4>Python Tools</h4>
<p>I chose to utilize <a href="http://flask.palletsprojects.com/en/1.1.x/">Flask</a> for its simplicity in URI routing and Jinja templating, <a href="https://pythonhosted.org/Flask-FlatPages/">Flask-Flatpages</a> so I may take advantage of Markdown syntax and use .md files for the majority of my pages, and <a href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a> to build my website into a directory of static HTML files which Github Pages can handle appropriately--this is to say, there is no need for an active server once the webpage has been frozen.</p>
<h4>Beginning with Flask</h4>
<p>Start off creating a Flask App. Open up your preferred IDE and create the following files:</p>
<pre class="codehilite"><code class="language-text">my_website/
- requirements.txt
- run.py</code></pre>


<p>Inside of <code>requirements.txt</code>:</p>
<pre class="codehilite"><code class="language-text">Flask==1.1.1
Flask-Flatpages==0.7.1
Frozen-Flask==0.15</code></pre>


<p>Inside of <code>run.py</code>:</p>
<pre class="codehilite"><code class="language-python">from flask import Flask
import sys
import os

app = Flask(__name__)

@app.route('/')
def index(path):
    return 'Hello World!'

if __name__ == '__main__':
    app.run(port=8000)</code></pre>


<p>Head to your terminal, navigate to the directory where you've saved <code>run.py</code> and install <code>requirements.txt</code> to your preferred environment. Then enter <code>python run.py</code>. It'll be followed with a few lines that look like this:</p>
<pre class="codehilite"><code class="language-bash">(my_website) walterzielenski@penguin:~/dev/wjziv/my_website$ python run.py
 * Serving Flask app &quot;run&quot; (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://127.0.0.1:8000/ (Press CTRL+C to quit)</code></pre>


<p>Follow <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a> to see your website in all of its glory!</p>
<p>If you'd like to add an alternative page, add another endpoint in <code>run.py</code>:</p>
<pre class="codehilite"><code class="language-python">from flask import Flask
import sys
import os

app = Flask(__name__)

@app.route('/')
def index(path):
    return 'Hello World!'

@app.route('/hello')
def index(path):
    return 'My Second Page!'

if __name__ == '__main__':
    app.run(port=8000)</code></pre>


<p>View this one at <a href="http://127.0.0.1:8000/hello">http://127.0.0.1:8000/hello</a></p>
<p>Flask has a whole lot more to offer than returning words in a browser when you go to a pre-designed URL, but this nearly all that'll be necessary to complete this project. I encourage the reader to learn more about Flask on their own later on.</p>
<h4>Beginning with Flask-Flatpages</h4>
<p>We're going to begin expanding on our simple website by rendering some templates. Make a new folder and file such that your directory looks like this:</p>
<pre class="codehilite"><code class="language-text">my_website/
- requirements.txt
- run.py
  pages/
  - blog_post_1.md
  templates/
  - base.html
  - post.html</code></pre>


<p>Inside of <code>blog_post_1.md</code> (This will be the contents within one of our pages.):</p>
<pre class="codehilite"><code class="language-markdown">title: My First Blog Post
date: 2020-01-02

This is the **first** blog post of *many*!</code></pre>


<p>Inside of <code>base.html</code> (This will be the skeleton for all kinds of content we'll be putting on the website. The <code>block</code> part is a modular component which can receive contents from other HTML files. We'll see this soon.):</p>
<pre class="codehilite"><code class="language-html">&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;My Blog&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;h1&gt;&lt;a href=&quot;{{ url_for('index') }}&quot;&gt;My Blog&lt;/a&gt;&lt;/h1&gt;

    &lt;div&gt;
        {% block content %}
        &lt;p&gt;If you see this, this is the main page default stuff.&lt;/p&gt;
        {% endblock content %}
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>


<p>Inside of <code>post.html</code> (This will be the skeleton for any and all blog posts we have.):</p>
<pre class="codehilite"><code class="language-html">{% extends &quot;base.html&quot; %}
{% block content %}
    &lt;h2&gt;
        {{ page.title }}
    &lt;/h2&gt;
    {{ page|safe }}
{% endblock content %}</code></pre>


<h5>Navigating Jinja</h5>
<p>The items within curly brackets in the HTML files are part of the Jinja templating language. When we follow the templating logic as though we are trying to render <code>post.html</code>...</p>
<ol>
<li><code>{% extends "base.html" %}</code> tells the script where to insert this content.</li>
<li><code>{% block content %} ... {% endblock content %}</code> outlines the extent of the content to be inserted, along with what the name of the insertion zone is (<code>content</code>, in this case).</li>
<li><code>{{ page.title }}</code> (where <code>page</code> is the variable name for the markdown content file) is some meta data contained within a markdown file; in this case, it's the <code>title</code> within that file.
    See <code>blog_post_1.md</code> to refresh your memory on how we know this value exists.</li>
<li><code>{{ page|safe }}</code> retreives the rest of the content from the markdown file, where <code>page</code> refers to the same thing as above. <code>|safe</code> tells Jinja that it is safe to refrain from auto-escaping the characters within the file.</li>
<li>Finally, within <code>base.html</code>, <code>{% block content %} ... {% endblock content %}</code> outlines the location to drop the new content. Anything that exists in between those statements is default content, and it will be overwritten.</li>
</ol>
<p>The next question is "How does Flask-Flatpages and jinja know what <code>page</code> is?!"</p>
<h5>Finishing Flask-Flatpages</h5>
<p>Crack open <code>run.py</code> and let's edit it again.</p>
<pre class="codehilite"><code class="language-python">from flask_flatpages import FlatPages # Refer to the FlatPages library
from flask import Flask, render_template # include render_template
import sys
import os

DEBUG = True # Run Flask in Debug Mode; apply changes on-the-fly.
FLATPAGES_AUTO_RELOAD = DEBUG # Run Flask in Debug mode.
FLATPAGES_EXTENSION = '.md' # Seek out `.md` files within the `pages` folder.

app = Flask(__name__)
app.config.from_object(__name__)
pages = FlatPages(app)

@app.route('/')
def index(path):
    return 'Hello World!'

@app.route('/hello')
def index(path):
    return 'My Second Page!'

@app.route(&quot;/&lt;path:path&gt;/&quot;) # route to ambiguous paths
def page(path):
    page = pages.get_or_404(path) # retreive our desired page at an arbitrary path (if it exists)
    return render_template(&quot;page.html&quot;, page=page) # Return the page, rendered from markdown to HTML.

if __name__ == '__main__':
    app.run(port=8000)</code></pre>


<p>Our answer to this question lies at the bottom of this file. For example: the URI for our page <code>my_blog_post_1.md</code> exists at <code>/my_blog_post_1</code>. If our website is running, all that needs to happen is for somebody to navigate to <a href="http://127.0.0.1:8000/my_blog_post_1">http://127.0.0.1:8000/my_blog_post_1</a>. Go to your terminal, re-run <code>run.py</code>, and navigate there now.</p>
<p>Tada! You have a working templating engine running on your website. You can fill that <code>pages</code> directory with as many markdown files as you like. Each on will render into HTML as you expect it to.</p>
<p>The next question: "How does a visitor to my website know how to get to all of my content?"</p>
<h5>Advanced Jinja</h5>
<p>There are plenty of properties that go along with <a href="https://jinja.palletsprojects.com/en/2.10.x/">Jinja</a>, but we'll only go over for-loops here. You can find our all about conditionals, exposing Python functions to your templates, creating variables, and more on your own.</p>
<p>Let's flesh out the home page such that there's a list of all of our blog posts. Make a new template file, <code>index.html</code>:</p>
<pre class="codehilite"><code class="language-text">my_website/
- requirements.txt
- run.py
  pages/
  - blog_post_1.md
  templates/
  - base.html
  - post.html
  - index.html</code></pre>


<p>Inside the <code>index.html</code> file:</p>
<pre class="codehilite"><code class="language-html">{% extends &quot;base.html&quot; %}
{% block content %}
    {% for blog in blog_posts %}
    &lt;a href=&quot;{{ url_for('page', path=blog.path) }}&quot;&gt;
    &lt;h2&gt;
        {{ blog.title }}
    &lt;/h2&gt;
    &lt;/a&gt;
    {% endfor %}
{% endblock content %}</code></pre>


<p>A few notes:</p>
<ol>
<li>As with <code>page.html</code>, we start with <code>{% extends "base.html" %}</code> and contain our HTML code with <code>{% block content %}...{% endblock content %}</code>.</li>
<li>The for-loop has a declarative stop, at <code>{% endfor %}</code>.</li>
<li>Lastly, while we've seen this before, we hadn't touched upon it: the <code>href</code> value is a variable contained within quotes; keep in mind that Jinja will still work when inside these quotes, and they are necessary for HTML rendering down the road. The <code>url_for()</code> function within is built into Jinja; the contents are fed back to <code>run.py</code>. This function will vicariously execute <code>page()</code> using kwarg <code>path=blog.path</code>, where blog is an arbitrary markdown folder within the <code>pages/</code> folder.</li>
</ol>
<p>Last question: "How does Jinja know what the <code>blog_posts</code> are?" We still need to feed that information through.</p>
<pre class="codehilite"><code class="language-python">from flask_flatpages import FlatPages
from flask import Flask, render_template
import sys
import os

DEBUG = True 
FLATPAGES_AUTO_RELOAD = DEBUG 
FLATPAGES_EXTENSION = '.md'

app = Flask(__name__)
app.config.from_object(__name__)
pages = FlatPages(app)

@app.route('/')
def index(path):
    return render_template(&quot;index.html&quot;, blog_posts=pages) # Supply the `blog_posts` variable in the render_template command.

@app.route('/hello')
def index(path):
    return 'My Second Page!'

@app.route(&quot;/&lt;path:path&gt;/&quot;)
def page(path):
    page = pages.get_or_404(path)
    return render_template(&quot;page.html&quot;, page=page) 

if __name__ == '__main__':
    app.run(port=8000)</code></pre>


<p>Finally, since you're already running your website in debug mode, head to your home page at  <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a>, or refresh the page if you're already there. You should see links to your blog post pages, right at the front!</p>
<h4>Frozen-Flask</h4>
<p>Now that we have a website made, it's time to freeze it into a set of static HTML pages to post to Github. We'll edit the <code>run.py</code> file one more time.</p>
<pre class="codehilite"><code class="language-python">from flask_frozen import Freezer # New
from flask_flatpages import FlatPages
from flask import Flask, render_template
import sys
import os

DEBUG = True 
FLATPAGES_AUTO_RELOAD = DEBUG 
FLATPAGES_EXTENSION = '.md'

app = Flask(__name__)
app.config.from_object(__name__)
pages = FlatPages(app)
freezer = Freezer(app) # New

@app.route('/')
def index(path):
    return render_template(&quot;index.html&quot;, blog_posts=pages)

@app.route('/hello')
def index(path):
    return 'My Second Page!'

@app.route(&quot;/&lt;path:path&gt;/&quot;)
def page(path):
    page = pages.get_or_404(path)
    return render_template(&quot;page.html&quot;, page=page) 

if __name__ == &quot;__main__&quot;:
    if &quot;freeze&quot; in sys.argv: # New
        freezer.freeze() # New
    else: # New
        app.run(port=8000)</code></pre>


<p>Adding these few elements from Frozen-Flask allows us to create the static HTML pages we'd like to push to Github. Freeze your web app by heading to your terminal and typing <code>python run.py freeze</code>.</p>
<p>A new folder called <code>build/</code> will appear in your directory:</p>
<pre class="codehilite"><code class="language-text">my_website/
- requirements.txt
- run.py
  pages/
  - blog_post_1.md
  templates/
  - base.html
  - post.html
  - index.html
  build/
  - index.html
    blog_post_1/
    - index.html</code></pre>


<h4>Hosting on Github</h4>
<h4>Other Concerns</h4>
<h5>Custom Domain</h5>
<h5>Using Flask Extensions</h5>
<h5>Exposing Python Functions to Jinja</h5>
<a href="/blog/">
  < Blog
</a>

    </article>
  </main><footer>
  
  
  <a class="footer-link" href="http://twitter.com/wjziv" target="_blank" style="text-decoration: none;">
    <img src="https://icongr.am/fontawesome/twitter.svg?size=32&amp;color=F5F5F5"/>
  </a>
  
  
  
  <a class="footer-link" href="http://github.com/wjziv" target="_blank" style="text-decoration: none;">
    <img src="https://icongr.am/fontawesome/github.svg?size=32&amp;color=F5F5F5"/>
  </a>
  
  
  
  <a class="footer-link" href="https://www.linkedin.com/in/walterjzielenskiiv/" target="_blank" style="text-decoration: none;">
    <img src="https://icongr.am/fontawesome/linkedin.svg?size=32&amp;color=F5F5F5"/>
  </a>
  
  
  
  <a class="footer-link" href="mailto:walterzielenski@gmail.com" target="_blank" style="text-decoration: none;">
    <img src="https://icongr.am/fontawesome/envelope.svg?size=32&amp;color=F5F5F5"/>
  </a>
  
  
  <p>
    CSS: <a href="https://kimeiga.github.io/bahunya/" target="_blank">Bahunya</a>
  </p>
</footer>
</body>
</html>