<header>
  <nav>
    <a href="/">
      <h1>
        <img src="{{ favicon }}" style="display:inline-block;vertical-align:middle;max-height:32px;" class="logo"/>
        &nbsp; {{ site_title }}
      </h1>
    </a>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" style="font-size:larger;">&#9776;</label>
    {% for directory in directories|sort() %}
    <a href="{{ url_for('landing_page', landing=directory) }}">
      {{ directory }}
    </a>
    {% endfor %}
  </nav>
  <h1>
    {{ page.title }}
  </h1>
  {% if page.date %}
  <h6>
    {{ page.date }}
  </h6>

  {% if page.tags %}
  <p>
  {% for tag in page.tags %}
  <kbd>{{ tag }}</kbd>
  {% endfor %}
  {% endif %}
  </p>
  {% endif %}

</header>